<div class="banner-nav d-flex justify-content-evenly pt-3">
    <p> <%= link_to "CATS & KITTENS", cat_path, class: "text-decoration-none text-white a" %> </p>
    <p> <%= link_to "DOGS & PUPPEIS", dog_path, class: "text-decoration-none text-white a" %> </p>
    <p> <%= link_to "ALL PET", animals_path, class: "text-decoration-none text-white a" %> </p>
</div>
<div class="banner d-flex align-items-center justify-content-center ">
    <div class="text-center text-light  fw-bolder text-shadow ">
        <h1> Adopt a Lifetime of Happiness </h1>
        <h2>- Help Us Give Shelter -</h3>
    </div>
</div>