<div class="banners container-full vh-50">
    <div class="d-flex align-items-center justify-content-center bg-white">
        <div >
            <h1 class="text-center py-5 fw-bolder home-text2 "> PLANNING TO ADOPT A PET? </h1>
            <h3 class="home-text2 text-center"> Adopting a pet is a heartwarming experience, but it's also a big responsibility. <br> With careful planning and consideration, you can provide a loving and secure home for a new addition to your family.<br> Your future pet is waiting for you with wagging tails and purring affection <br>– are you ready to make a difference in their life? </h3>
            <p class="text-center">
            <%= link_to "Start Adopting Now", animals_path, class: "btn btn-primary p-2 mt-2 rounded"  %>
            </p>
        </div>
    </div>
</div>