<div class="">
  <div class="container mt-5 p-5 shadow contact-cont">
    <h1>Contact Us</h1>
    <p>Thank you for considering reaching out to us. At HUGS, we value your feedback, inquiries, and suggestions. We are here to assist you in any way we can.</p>
    <br>
    <h3>General Inquiries:</h3>
    <p>For general questions, information about our services, or any other non-urgent matters, please feel free to contact us by leaving a message below.</p>

     <div class="form-group" id="text-area-container">
    <textarea class="form-control" id="message" rows="4" placeholder="Enter your inquiry here"></textarea>
    <%= link_to "Send Message", root_path, class: "btn btns btn-primary m-2" %>
    </div>
   <br><hr>

    <h3>Adoption and Pet-related Questions:</h3>
    <p>If you have specific questions about pet adoption, our available animals, or the adoption process and for personalized assistance, you can also contact our adoption specialists at <a href="mailto:adoption@hugsadoptionapp.com" class="text-white" >adoption@hugsadoptionapp.com</a>.</p>

    
  </div>
  </div>